.search {
  /* background-color: #ccc; */
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input-field {
  width: 50%;
}
.alert {
  position: absolute;
  top: 5px;
}
.icon-close {
  width: 20px;
  height: 20px;
}
.icon-issue-closed,
.icon-pull-request {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
